  <nav class="page-test-nav">
  <ul class="page-test-header">
    <li><a href="#">강의</a></li>
    <li><a href="#">과제</a></li>
    <li><a href="#">질문</a></li>
    <li><a href="#">게시판</a></li>
    <li><a href="#">놀이터</a></li>
    <li><a href="#">아이디어톤</a></li>
  </ul>
</nav>


  <hr>
  <hr>

  <form action="">
    <div class="selection">
      <span>관심음식 : </span>
      <div class="like-food-select">
      <!-- params[:like_food] = value -->
      <select name="like_food" id="">
        <option value="yubdduk">엽떡</option>
        <option value="pizza">피자</option>
        <option value="hagendaz">하겐다즈</option>
      </select>
      </div>
    </div>
  </form>